#SS {
  background: var(--bs-gray-900);
  font-style: normal;
  color: var(--bs-gray-100);
}

#SS-3 {
  background: var(--bs-gray-900);
  font-style: normal;
  color: var(--bs-gray-100);
}

#SS-2 {
  background: var(--bs-gray-900);
  font-style: normal;
  color: var(--bs-gray-100);
}

#SS-1 {
  background: var(--bs-gray-900);
  font-style: normal;
  color: var(--bs-gray-100);
}

